/* General */
@font-face {
  font-family: 'Alef';
  src: url('/fonts/Alef-Regular.ttf');
}

@font-face {
  font-family: 'AlefBold';
  src: url('/fonts/Alef-Bold.ttf');
}

body {
  margin: 0 0 20px;
  font-family: 'Alef';
  text-align: right;
  direction: rtl;
  background-image: url('images/bright.jpg');
  background-size: 100% 100%;
}

.fundme-logo {
  cursor: pointer;
  display: table;
  margin: 30px auto;
}

.btn-primary {
  border: none;
  background: #1b8fcf;
  cursor: pointer;
  transition: all 300ms;
}

.btn-primary:hover {
  background: #3bb3f5;
}

.btn-secondary {
  border: none;
  color: #222222;
  background: white;
  font-weight: normal;
  cursor: pointer;
  transition: all 300ms;
}

.btn-secondary:hover {
  color: #1b8fcf;
}


/* Home */ 
.content-wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;

}

.ck-editor__main p {
  height: 160px;
}

.fund-event-shortcut {
    display: inline-block;
    margin: 0 0 30px 30px;
}

.fund-event-shortcut:nth-child(3n) {
  margin-left: 0;
}

.shortcut-image {
    display: inline-block;
}

.shortcut-image .fund-event-image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.shortcut-image .fund-event-image img {
    height: 300px;
    width: 300px;
    transition: all 300ms;
}

.shortcut-image .fund-event-image:hover img {
  transform: scale(1.1);
  transform-origin: center;
}

.shortcut-image .fund-event-image .event-hover-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 25px;
  box-sizing: border-box;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  text-align: center;
  color: white;
  font-size: 20px;
  transition: opacity 300ms;
}

.shortcut-image .fund-event-image:hover .event-hover-panel {
  opacity: 1;
}

.create-event-btn {
    display: block;
}

/* Create event */
form {
  width: 860px;
  padding: 30px;
  margin: 0 auto;
}

h3 {
  margin: 0 0 30px;
  font-size: 30px;
  font-weight: bold;
}

.client-details,
.funding-details {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

label {
  width: 180px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: normal;
}

label.event-name {
  margin-top: 30px;
  font-size: 22px;
}

input[type="text"], input[type="number"] {
  width: 182px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #222222;
}

input[type="text"].full-width-input {
  width: 582px;
}

input[type="submit"],
input[type="button"] {
  display: table;
  margin: 20px auto 0;
  font-size: 24px;

}

/* Event Page */
.event-wrapper .event-hover-panel {
  display: none;
}

.event-wrapper .event-title {
  padding: 10px 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
  color: #1b8fcf;
}

.event-wrapper .fund-event-image {
  height: 350px;
}

.event-wrapper .fund-event-image img {
  height: 100%;
}

.event-wrapper .btn {
  display: table;
  margin: 15px auto;
}

.event-wrapper .btn-primary {
  font-size: 24px;
}

.event-wrapper .btn-secondary {
  font-size: 14px;
}

/* Navigation Bar */
.nav-tabs {
  padding: 0;
  font-size: 20px;
  border-bottom-color: #222222;
}

.nav-tabs > li {
  float: right;
  padding: 6px 18px;
  border: 1px solid #222222;
  border-radius: 5px 5px 0 0;
  margin-left: -1px;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms;
}

.nav-tabs > li.active,
.nav-tabs > li:hover {
  background: white;
  color: #1b8fcf;
  border-color: #1b8fcf;
}

.nav-tabs > li.active {
  cursor: default;
}

.tab-pane {
  padding-top: 20px;
  font-size: 18px;
}

/* Make Donation */
.make-donation-wrapper p {
  color: #1b8fcf;
  font-size: 24px;
}

.make-donation-wrapper p span {
  font-weight: bold;
}

.make-donation-wrapper .donner-details {
  margin-bottom: 20px;
}

.make-donation-wrapper .btn {
  font-size: 16px;
  margin: 5px 0 5px 10px;
  border: 1px solid #1b8fcf;
  transition: all 300ms;
}

.make-donation-wrapper .btn:hover,
.make-donation-wrapper .btn.chosen {
  color: #1b8fcf;
  background: white;
}