/* General */
@font-face {
  font-family: 'Alef';
  src: url('fonts/Alef-Regular.ttf');
}

@font-face {
  font-family: 'AlefBold';
  src: url('fonts/Alef-Bold.ttf');
}

body {
  margin: 0 0 20px;
  font-family: 'Alef';
  text-align: right;
  direction: rtl;
  background-image: url('images/bright.jpg');
  background-size: 100% 100%;
}

.fundme-logo {
  cursor: pointer;
  display: table;
  margin: 30px auto;
}

/* Home */ 
.events-shortcuts-wrapper {
  width: 960px;
  margin: 0 auto;

}

.ck-editor__main p {
  height: 160px;
}

.fund-event-shortcut {
    display: inline-block;
    margin: 0 0 30px 30px;
}

.fund-event-shortcut:nth-child(3n) {
  margin-left: 0;
}

.shortcut-image {
    display: inline-block;
}

.shortcut-image .fund-event-image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.shortcut-image .fund-event-image img {
    height: 300px;
    width: 300px;
    transition: all 300ms;
}

.shortcut-image .fund-event-image:hover img {
  transform: scale(1.1);
  transform-origin: center;
}

.shortcut-image .fund-event-image .event-hover-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 25px;
  box-sizing: border-box;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  text-align: center;
  color: white;
  font-size: 20px;
  transition: opacity 300ms;
}

.shortcut-image .fund-event-image:hover .event-hover-panel {
  opacity: 1;
}

.create-event-btn {
    display: block;
}

/* Create event */
form {
  width: 860px;
  padding: 30px;
  margin: 0 auto;
}

h3 {
  margin: 0 0 30px;
  font-size: 30px;
  font-weight: bold;
}

.client-details,
.funding-details {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

label {
  width: 180px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: normal;
}

input[type="text"], input[type="number"] {
  width: 182px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #222222;
}

input[type="submit"],
input[type="button"] {
  display: table;
  margin: 20px auto 0;
  font-size: 24px;

}