.donation-summery-outer {
    position: absolute;
    top: 20px;
    left: 0;
    width: 400px;
    height: 350px;
}

.donation-summery-outer p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.donation-bar-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 160px;
    height: 268px;
}

.progress-jar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.total-donation-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80.5%;
    background: white;
    overflow: hidden;
    border-radius: 24px;
}

#total-single-donations,
#total-repeating-donations {
    position: absolute;
    width: 100%;
}

#total-repeating-donations {
    bottom: 0;
    background: #07b2ea;
}

#total-single-donations {
    background: #8c71d3;
}

.donation-summery-outer p.total-donation {
    position: absolute;
    top: -50px;
    width: 100%;
    font-size: 20px;
}

.donation-summery {
    position: absolute;
    bottom: 0;
    width: 240px;
    height: 170px;
    padding: 10px;
    box-sizing: border-box;
}

.donation-summery p {
    font-size: 18px;
}

.donation-summery p.donation-description {
    font-weight: normal;
    margin-bottom: 0;
    
}

.donation-summery p.donation-amount {
    margin-bottom: 15px;
}

.donation-summery p.donation-amount.repeating-donation-amount {
    color: #07b2ea;
}

.donation-summery p.donation-amount.single-donation-amount {
    color: #8c71d3;
}